@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(192, 192, 192);
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}
@media (max-width: 1024px) {
  .main {
    min-height: 90vh;
  }
}


/* .main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
} */

.header-container {
    width: 100vw;
    background-color: rgb(149, 47, 47);
    display: flex;
    justify-content: center;
    z-index: 1;
}
/* .main {
    background-color: rgb(253, 223, 223);
} */
.header-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 70%;
    color: white;
    padding-bottom: 1rem;
    padding-top: 1rem;
    justify-content: space-between;
}
@media (max-width: 1024px) {
    .header-box {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem
}
.title {
    font-size: 1.5rem;
    font-weight: 600;
}
.links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: large;
}
.sidebar {
  position: fixed;
  top: 4.25rem;  /* this bring the sidebar down so we can still just use the header title */
  /* works for almost every device- but very small width 280px will merge header/sidebar - may
  need to use some sort of calculation function for this if i need to be that precise */
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: rgb(149, 47, 47);
  padding: 1rem;
  z-index: 10;
  /* border-top: 5px white dotted; */
}

.sidebar-logo {
  margin-right: 0.5rem;
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar-link-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 100%;
}

.sidebar-link-block:hover {
  background-color: rgba(245, 164, 164, 0.2);
  border-radius: 0.5rem;
}

.desktop-link-box:hover {
  background-color: rgba(245, 164, 164, 0.2);
  border-radius: 1rem;
}

.sidebar-links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  position: relative;
}

.sidebar-link-box {
  padding-right: 0.5rem;
}

.sidebar-link-icon {
  fill: white;
}

.sidebar-close {
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
}

.btn.btn-primary {
  margin-top: 1rem;
}


@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* standings page */
.standings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media (max-width: 1024px) {
  .standings-container {
    width: 100%;
  }
}
.standings-page-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #ff2800
}

.titles-block {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}
.standings-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.standings-table {
  width: 50%;
  text-align: center;
}
.podium-container {
  display: flex;
  width: 50%;
  justify-content: center;
  position: relative;
  height: 300px;
}
.podium_first {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -100%);
  box-sizing: border-box;
}
.podium-first-container {
  position: absolute;
  top: 45px; /* Adjust this value to position the image as desired */
  left: calc(50% - 40px); /* Adjust this value to position the image horizontally */
  display: flex;
  justify-content: center;
}
.podium-second-container {
  position: absolute;
  top: 65px; /* Adjust this value to position the image as desired */
  left: calc(50% - 135px); /* Adjust this value to position the image horizontally */
  display: flex;
  justify-content: center;
}
.podium-third-container {
  position: absolute;
  top: 88px; /* Adjust this value to position the image as desired */
  left: calc(50% + 60px); /* Adjust this value to position the image horizontally */
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .standings-block {
    flex-direction: column-reverse;
  }
  .standings-table {
    width: 100%;
  }
  .podium-container {
    width: 100%;
  }
}


.titles-block {
  display: flex;
  flex-direction: row;
}
/* tracks page */
.tracks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
}
.tracks-title-block {
  height: 100%;
}
.page-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #FF2800;
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.map-container {
  display: flex;
  justify-content: center;
}

.track-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0.75rem;
}
.mobile-track-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.track-list-box {
  border: black 1px solid;
  padding: 0.5rem
}
/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col w-full ;
}

.podium_first {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-2/3;
}
podium_second  {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-2/3;
}
.podium_third {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-2/3;
}

/* legg */